*{padding: 0; box-sizing: border-box;}

table {
    width: 500px;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
}
table th {
    background-color: rgb(44, 44, 83);
    text-align: left;
    color: white;
    padding: 8px;
}
.praise {
    text-align: right;
}

table td{
    padding: 8px;
}

table tr:nth-child(2n) {
    background-color: rgba(255, 209, 209, 0.137);
}
table tr:nth-child(2n + 1) {
    background-color: rgb(248, 223, 223);
}

table tr:nth-child(2n):hover {
    transition: 0.5s;
    background-color: rgba(255, 171, 171, 0.616);
}

table tr:nth-child(2n + 1):hover {
    transition: 0.5s;
    background-color: rgb(255, 171, 171);
}